<div class="row">
<span><h4>Login form</h4></span><h4>Login form</h4>
    <span class="pull-right" ng-click="close()" style="color:black, font-size:10px">X</span>
</div>

<div class= 'row'>
<div class= 'span 6'>
    <div class="row">
    <label class="span 4" for="firstname">
        FirstName:
        </label>
    <input class="span 8" type="text" id="firstname"/>
    </div>
    <div class="row">
    <label class="span 4" for="secondname">
        FirstName:
        </label>
    <input class="span 8" type="text" id="secondname"/>
    </div>
    <div class="row">
    <label class="span 4" for="emailaddress">
        FirstName:
        </label>
    <input class="span 8" type="text" id="emailaddress"/>
    </div>
</div>
</div>
<div class="row">
<button type="submit" ng-click="submitForm()">Submit</button>
</div>
